
body{
    background-color: rgb(10, 10, 10);
    background-image: url('./jason-leung-poI7DelFiVA-unsplash.jpg');
    
    background-size: cover;
}
#content{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.leftPanel{
    background-color: rgba(75, 74, 73, 0);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    min-height: 700px;
    max-width: 200px;
    min-width: 150px;
    font-family: 'The Nautigal', cursive;
    font-size: 80px;
    padding: 10%;
    color: white;
    white-space: nowrap;
}
button{
    border-radius: 50px;
    background-color: rgba(66, 52, 35, 0.295);
    color: aliceblue;
    font-size: 50px;
    margin-top: 20px;
    font-family: 'Dancing Script', cursive;
}
.rightPanel{
    color: aliceblue;
    display:flex;
    flex-direction: column;
    padding: 5%;
}

#menuList{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    max-width: 500px;
    max-height: 700px;
    justify-items: center;
    gap: 20px 30px;
    justify-self: center;
}
#image{
    border: 1px solid #ddd;
    border-radius: 50%;
    padding: 5px;
    height: 200px;
    width: 200px;

}
#menuName, .aboutContent{
 text-align: center;
 font: 800;
 font-size: 40px;
 font-family: 'Shadows Into Light', cursive, sans-serif;
 color: aliceblue;
 background-color: black;
 margin: auto;
}

#imageCite{
    padding: 10px; 
    font-size: 20px;
}